@model Client

<form method="post">
    <div class="card" style="width: 18rem;">
        <img  src="~/Uploads/Clients/@Model.ImageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">FullName : @Model.FullName</h5>
            <p class="card-title">City : @Model.City</p>
            <p class="card-text">Desc : @Model.Description</p>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="index" asp-controller="client" class="btn btn-primary">Go Back</a>
        </div>
    </div>
</form>